asgiref==3.3.4
Django==3.1.7
django-environ==0.4.5
django-mssql-backend==2.8.1
djangorestframework==3.12.2
fcm-django==0.3.10
mysqlclient==2.0.3
pyfcm==1.4.9
pylint==2.3.1
pylint-plugin-utils==0.6
pyodbc==4.0.30
python-dotenv==0.15.0
pytz==2021.1
sqlparse==0.4.1
twilio==6.56.0
typing-extensions==3.7.4.3
urllib3==1.24.2
virtualenv==20.4.4